/* navbar */
.navbar {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul {
    display: flex;
    list-style: none;
    background-color: #5e5e5e;
    border: solid 0.5px rgba(94, 94, 94, 1);
    border-radius: 3px;
}
.nav-li {

    height: 34px;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    min-width: min-content;
    width: 102.63px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px rgb(139, 139, 139);
    color: white;
    transition: ease-out 0.2s;
    background: rgb(122, 122, 122);
    background: linear-gradient(
        0deg,
        rgba(122, 122, 122, 1) 0%,
        rgba(99, 99, 99, 1) 25%,
        rgba(94, 94, 94, 1) 49%,
        rgba(113, 113, 113, 1) 50%,
        rgba(123, 123, 123, 1) 75%,
        rgba(149, 149, 149, 1) 100%
    );
}


.navbar ul li:hover:nth-child(1),
.navbar ul li:hover:nth-child(2),
.navbar ul li:hover:nth-child(3),
.navbar ul li:hover:nth-child(4),
.navbar ul li:hover:nth-child(5),
.navbar ul li:hover:nth-child(6),
.navbar ul li:hover:nth-child(7),
.navbar ul li:hover:nth-child(8) {
  background: rgb(93, 93, 93);
  background: linear-gradient(
    180deg,
    rgba(93, 93, 93, 1) 0%,
    rgba(76, 76, 76, 1) 25%,
    rgba(69, 69, 69, 1) 50%,
    rgba(56, 56, 56, 1) 51%,
    rgba(64, 64, 64, 1) 75%,
    rgba(85, 85, 85, 1) 100%
  );
}

.nav-li-search{
    min-width: 132px;
    width: fit-content  ;
}
.search-svg {
    width: 15px;
    height: 14px;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 4px;
     transition: ease-out 0.3s;
    /* fill: black;
    left: 17px; */
}
#search-input{
    position: relative;
}

#search{
    border-width: 0.5px;
    color: white;
  background: rgb(138, 138, 138);
  background: linear-gradient(
    180deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(131, 131, 131, 1) 25%,
    rgba(127, 127, 127, 1) 50%,
    rgba(110, 110, 110, 1) 51%,
    rgba(112, 112, 112, 1) 75%,
    rgba(118, 118, 118, 1) 100%
  );
    width: 106px;
    height: 19px;
     outline: none;
    padding: 2px 18px 1px 22px;
    border-radius: 12px;
    transition: ease-out 0.3s;
}

#search:focus{
    background: white;
    width: 160px;
    margin: 0 13px;
    color: black;
}

#search:focus + .search-svg{
    fill: black;
    left: 17px;
}